:root {
  --clr-primary-main: #2383b8;
  --clr-primary-dark: #0f2b39;
  --clr-primary-light: #69b8f0;
  --clr-primary-lighter: #f1fbff;

  --clr-secondary-main: #008979;
  --clr-secondary-lighter: #e6f4f1;

  --clr-background-dark: #f8f8f2;
  --clr-background-light: #fffffb;
  --clr-background-gradient: linear-gradient(
    to right bottom,
    #001c2a,
    #03202e,
    #062331,
    #0b2735,
    #0f2b39
  );
  --clr-background-transparent: transparent;
  --clr-background-disabled: #c4c8ca;

  --clr-text-black: #1d1f20;
  --clr-text-white: #ffffff;
  --clr-text-gray: #747c80;

  --clr-message-success: #358423;
  --clr-message-danger: #c21410;
}
